.h2 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  @include pad() {
    font-size: $h2-font-size;
  }
}
.h3 {
  font-weight: $font-weight-bold;
  margin-bottom: 0;
}
.h4 {
  font-weight: $font-weight-bold;
  margin-bottom: 0;
}